
<nav class="main-nav">
    <!-- Logo -->
    <a href="index.html" class="logo">
        <img src="assets/images/logo.png" alt="Your Logo">
    </a>

    <!-- Menu -->
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li id="control-panel-link-container"></li>
        <li id="login-link-container"></li>
        <li id="signup-link-container"></li>
        <li class="nav-item cart_icon cart">
            <span class="btn cart-icon">&#128722;</span>
            <span class="quantity">0</span>
        </li>
    </ul>

    <a class="menu-trigger">
        <span>Menu</span>
    </a>
</nav>

